
.main{
	font-family: "微软雅黑";
	width: 76%;
	margin: 0 auto;

}
.main_box{
	width: 19%;
}
.main_h{
	color: #555;
	font-weight: bold;
	font-size: 14px; 
	border: 1px solid #ccc;
	background: #f3f3f3;
	padding: 10px;`
	width: 90%;
	text-align: center;
	margin-top: 10px;
}
.main dl {
	display: inline-block;
	background: #f3f3f3;
	color: #555;
	text-align: left;
	padding: 2px 0 2px 20px;
	border: 1px solid #ccc;
	width: 90%;
}
.main dl dt a{
	font-size: 14px;
	color: #555;
	font-size: 14px;
	font-weight: bold;
}
.main dl dd a{
	display: inline-block;
	width: 80px;
	margin: 4px 0 4px 0;
}
.main .imgs{
	margin-top: 10px;
	float: left;
}


/* 产品展示区 */
.products_box{
	width: 79%;
	font-family: "微软雅黑";
	padding:0 4px 0 10px;
}
.products_boxh{
	font-size:12px;
	margin: 16px 0 0 0;
	width: 13%;
	padding-bottom: 4px;
	border-bottom: 2px solid #1d7ad9;
}
.products_box1{
	width: 22%;
	height: 260px;
	/* text-align: center; */  /* 1902像素 */
	margin: 10px 10px 10px 0 ;
	padding-left:12px;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
	border-radius: 5px;
}
.products_p{
	color: #d4105a;
	margin:6px 0;
}
.products_span{
	background: url(../images/btn_01.png) right center;
	padding-right: 66px;
	height: 10px;
	display: inline-block;
}
.hidden{
	display: none;
}