.main {
	width: 400px;
	margin: 24px auto 130px auto;
	border: 1px solid #ccc;
}
.main form{
	text-align: right;
	margin-right: 70px;
	padding-top: 10px;
}

.form_box{
	margin-top:10px;
}
.form_box label{
	background: url(../images/icon_54.jpg) no-repeat left center;
	padding-left: 10px;
	margin-right: 10px;
}
.form_box input{
	height: 22px;
	width: 200px;
	padding-left: 4px;
}
.form_box1{
	margin: 10px 0;
}
.form_box1 a{
	color: #005aa0;
}
.form_btn input{
	width: 200px;
	height: 30px;
	background: #d1d2d2;
	border: none;
	margin-bottom: 10px;
}